<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>landingpage</title>
    <link rel="stylesheet" href="../helper/styles.css" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </head>
  <body class="body">
    <nav>
      <h1 class="h1">EMELRALD SPA</h1>
      <div style="width: 400px;  margin-top: 10px">
        <ul>
          <li><a href="">HOME</a></li>
          <li><a href="">TREATMENT</a></li>
          <li><a href="">ABOUT</a></li>
          <li><a href="">CONTACT</a></li>
        </ul>
      </div>
      <div class="logindiv">
<a href="">
    <div style="display: flex; margin-top: 15PX;">
          <ion-icon name="bag-handle-outline"></ion-icon>
          <li style="list-style: none; margin-left: 5px;"><a href="">CART</a></li>
        </div>
    </a>
    <div style="height: 20px; width:1px; background-color: gainsboro; margin-top: 15px;"></div>
        <a href="login.html"
          ><div style="display: flex">
            <ion-icon name="person-outline" style="margin-top: 15PX;" ></ion-icon>
            <p style="margin-left: 5px;">LOGIN</p>
          </div>
        </a>
      </div>
    </nav>
    <div class="bodydiv">
      <p style="font-size: 15px">YOUR TANGLINE</p>
      <h2 class="h2">
        Elegance and Wellness <br />
        in Perfect Harmony
      </h2>
      <div class="visitdiv">
        <p>BOOK YOUR VISIT</p>
        <a href="">
          <ion-icon
            name="arrow-forward-outline"
            style="margin-top: 15px; margin-right: 5px"
          ></ion-icon
        ></a>
      </div>
    </div>
  </body>
</html>
