<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../helper/styles.css">
</head>
<body>
    <h1> EMELRALD BEAUTY SPA</h1>
    <div class="div1">
        <h2 style="margin-left: 180px;">Login</h2>
        <form action="../Controller/login.php" method="post" >
            <input type="text" placeholder="Enter your email" name="email" ><br><br><br>
            
            
            <input type="password" placeholder="Enter password" name="password" ><br><br>
            
            <input type="submit" placeholder="signup" name="submit" value="Login"  style="margin-top: 180px; width: 300px; margin-left: 80px;" >
            

        </form>
    </div>
</body>
</html>