<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="../helper/styles.css">
</head>
<body>
    <h1> EMELRALD BEAUTY SPA</h1>
    <div class="div1">
        <h2>Register</h2>
        <form action="../Controller/signup.php" method="post" >
            <input type="text" placeholder="Enter your fullname" name="fullname" ><br><br>
            <input type="text" placeholder="Enter phonenumber" name="phonenumber" ><br><br>
            <input type="email" placeholder="Enter email" name="email" ><br><br>
            <input type="password" placeholder="Enter password" name="password" ><br><br>
            <input type="password" placeholder="Confirm your password" name="confirmpassword" ><br><br>
            <input type="submit"name="submit" value="Register" style="width: 300px; margin-left: 80px;" >
            

        </form>
    </div>
</body>
</html>